---
layout: base.njk
eleventyNavigation:
  key: Stödmedlemskap
  order: 5
header: Bli stödmedlem
---

<p>Vill du vara med och stödja vår verksamhet kan du bli stödmedlem. Som stödmedlem får du ett grafiskt blad av en av föreningenskonstnärer. Du får också inbjudan till specialvisningar av ny grafik. Medlemskapet kostar 550 kronor och löper på ett år. KROGEN AMERIKAS plusgiro 63 52 31 - 4. Undrar du över något: maila krogenamerika@gmail.com.</p>
