/* Typography */
.heading-display {
	font-size: 3.6rem;
	letter-spacing: -1px;
	margin-block: 0;
	overflow-wrap: break-word;
	hyphens: auto;
}

.heading-subdisplay {
	font-size: 1.5rem;
	color: var(--fg-secondary);
	font-weight: 500;
	margin-block: 0;
}

h1, .h1 {
	font-size: 2.8rem;
	letter-spacing: -1px;
	line-height: 108%;
	margin-block-end: 1.25rem;
	overflow-wrap: break-word;
	hyphens: manual;
}

h2, .h2 {
	font-size: 1.8rem;
	line-height: 118%;
	margin-block-start: 2.5rem;
	margin-block-end: 1rem;
	overflow-wrap: break-word;
	hyphens: manual;
}

h3, .h3 {
	font-size: 1.5rem;
	line-height: 122%;
	margin-block-start: 2.2rem;
	margin-block-end: 1rem;
}

h4, .h4 {
	font-size: 1.25rem;
	line-height: 122%;
	margin-block-start: 2rem;
	margin-block-end: 0.75rem;
}

h5, .h5, h6, .h6 {
	font-size: 1rem;
	line-height: 125%;
	margin-block-start: 1.8rem;
	margin-block-end: 0.5rem;
}

p {
	margin-block-start: 0.75rem;
	margin-block-end: 1.3rem;
}

hr {
	border-width: 1px 0 0 0;
	border-color: var(--border-primary);
	margin-block-start: 2.5rem;
	margin-block-end: 2.5rem;
}

a {
	color: var(--fg-action);
}

.no-list-style {
	padding: 0;
	margin: 0;
	list-style: none;
}
