---
layout: layouts/base.njk
eleventyNavigation:
	key: Kontakt
	order: 4
header: Kontakt
---

<ul>
	<li>Krogen Amerika</li>
	<li>Läroverksgatan 5</li>
	<li>582 27 Linköping</li>
	<li><a href="mailto:krogenamerika@gmail.com">krogenamerika@gmail.com</a></li>
	<li>Plusgiro: 63 52 31 - 4</li>
</ul>
