---
layout: base.njk
title: Krogen Amerika - Grafikcentrum i Östergötland
header: Grafikcentrum i Östergötland
subheader: Krogen Amerika
imageurl: ../public/img/index-header.jpg
imagealt: Ett kollage av olika konstverk av Krogen Amerikas konstnärer
---

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>


<h1>Aliqua id esse ut pariatur deserunt eu Aliqua id esse ut pariatur deserunt eu. Aliqua id esse ut pariddatur deserunt eu.</h1>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>

<h2>Aliqua id esse ut pariatur deserunt eu Aliqua id esse ut pariatur deserunt eu. Aliqua id esse ut pariddatur deserunt eu.</h2>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>

<h3>Aliqua id esse ut pariatur deserunt eu Aliqua id esse ut pariatur deserunt eu. Aliqua id esse ut pariddatur deserunt eu.</h3>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>

<h4>Aliqua id esse ut pariatur deserunt eu Aliqua id esse ut pariatur deserunt eu. Aliqua id esse ut pariddatur deserunt eu.</h4>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>

<hr>

<h5>Aliqua id esse ut pariatur deserunt eu Aliqua id esse ut pariatur deserunt eu. Aliqua id esse ut pariddatur deserunt eu.</h5>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>

<h6>Aliqua id esse ut pariatur deserunt eu Aliqua id esse ut pariatur deserunt eu. Aliqua id esse ut pariddatur deserunt eu.</h6>
<p>Laboris veniam quis veniam reprehenderit commodo culpa est cillum proident sunt. Esse est consectetur reprehenderit fugiat ea ea mollit est eu eu id dolor cupidatat nostrud non. Ut voluptate quis ad veniam velit ex ut consequat Lorem. Sunt reprehenderit veniam dolore. Ad cillum minim anim id qui incididunt ullamco mollit nisi.</p>


<p>
	Krogen Amerika är Östergötlands kollektivverkstad för konstnärer som arbetar med grafik. Huset som är ett av Linköpings äldsta uppfördes i början av 1700-talet alldeles efter den stora branden. I dag är vi ett 20-tal konstnärer som använder verkstaden och vi arbetar med de flesta grafiska tekniker såsom torrnål, etsning, träsnitt, fotopolymer och silkscreen.
</p>

<p>
	Vi ordnar även kurser i grafik och visningar av de grafiska teknikerna. I huset har vi ett galleri där vi visar verk av konstnärer från hela Sverige. Välkommen att besöka oss eller boka en visning via <a href="mailto:krogenamerika@gmail.com">krogenamerika@gmail.com</a>.
<p>
