---
layout: container.njk
title: Krogen Amerika - Grafikcentrum i Östergötland
---

{% css %}
	{% include "./index.css" %}
{% endcss %}

<div class="third-grid">
	<div>
		<h2 class="heading-subdisplay">Grafikcentrum i Östergötland</h2>
		<h1 class="heading-display">Krogen Amerika</h1>
	</div>
	<img src="/img/index-header.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-secondary.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<div>
		<p>
			Krogen Amerika är Östergötlands kollektivverkstad för konstnärer som arbetar med grafik. Huset som är ett av Linköpings äldsta uppfördes i början av 1700-talet alldeles efter den stora branden. I dag är vi ett 20-tal konstnärer som använder verkstaden och vi arbetar med de flesta grafiska tekniker såsom torrnål, etsning, träsnitt, fotopolymer och silkscreen.
		</p>
		<p>
			Vi ordnar även kurser i grafik och visningar av de grafiska teknikerna. I huset har vi ett galleri där vi visar verk av konstnärer från hela Sverige. Välkommen att besöka oss eller boka en visning via krogenamerika@gmail.com.
		</p>
	</div>
</div>
<hr />
<div class="half-grid">
	<img src="/img/index-graphic1.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic2.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic3.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic4.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic5.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic6.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic7.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic8.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic9.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic10.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
	<img src="/img/index-graphic11.jpg" alt="Ett kollage av olika konstverk av Krogen Amerikas konstnärer" />
</div>
