.third-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	place-items: center;
	gap: 1rem 2rem;
}

.half-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	gap: 2rem;
}
