nav {
	background-color: var(--bg-primary);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-itrems: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.logo-container {
	display: inline-block;
	width: 300px;
	height: 35px;
	padding: 0 0.5rem;
	margin: auto;
}

.nav-list {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0 0.5rem;
	margin: auto;
	list-style: none;
	overflow-x: scroll;
}

.nav-item {
	display: flex;
	flex-shrink: 0;
}

.nav-link {
	color: var(--fg-primary);
	text-decoration: none;
	padding: 0.5rem;
}
.nav-link:hover {
	color: var(--fg-tertiary);
}
