{% css %}
{% include "./header.css" %}
{% endcss %}

<nav class="nav-bar">
  <!--Logo etc-->
  <a href="/" class="logo-container">
    <img src="/img/logo.svg" alt="Krogen Amerikas Logotyp">
  </a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-list">
    {% for item in navPages %}
      <li class="nav-item">
        <a href="{{ item.url }}" class="nav-link">{{ item.key }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
