<div class="fixed w-full backdrop-blur-xl bg-white/80 dark:bg-black/80 py-6 px-8 lg:px-16">
		<nav class="flex justify-between">
				<!--Logo etc-->
				<a href="/" class="text-indigo-500 font-bold text-lg">Logo</a>

				{% set navPages = collections.all | eleventyNavigation %}
				<ul class="flex flex-row space-x-8">
					{% for item in navPages %}
						<li><a href="{{ item.url }}">{{ item.key }}</a></li>
					{% endfor %}
				</ul>
		</nav>
</div>
