---
layout: layouts/base.njk
header: Utställningar
---

<section class="mt-15">
		{% if exhibitions %}

				{% for exhibition in exhibitions %}
						<div class="flex exhibitions-center gap-8">
								<img src="{{ exhibition.imageUrl }}" class="max-w-md" />

								<div>
										<h2>{{ exhibition.description }}</h2>

										<h3>Datum:</h3>
										<ul>
												{% for date in exhibition.dates %}
														<li x-data="{ date: new Date('{{ date }}') }">
																<time x-bind:datetime="date" x-text="date.toLocaleDateString('sv-SE', {weekday: 'long', day: 'numeric', month: 'long'})"></time>
														</li>
												{% endfor %}
										</ul>
								</div>
						</div>
				{% endfor %}

		{% endif %}

</section>
