<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{title}}
		</title>
		{% if description %}
			<meta name="description" content="{{description}}"/>
		{% endif %}
		{% block head %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
	</head>
	<body class="text-lg bg-white text-stone-950 dark:bg-stone-950 dark:text-white">
		{% include "./partials/header.njk" %}

		<div class="container max-w-4xl py-40 px-8">
			{% if imageurl %}
				{% image imageurl, imagealt, "w-full max-w-xl mx-auto mb-16" %}
			{% endif %}

			{% if subheader %}
				<h1 class="opacity-65 uppercase font-medium tracking-wide">{{ subheader }}</h1>
			{% endif %}

			{% if header %}
				<h2 class="text-4xl lg:text-6xl tracking-tight mb-4"> {{ header }} </h2>
			{% endif %}

			{{ content | safe }}
		</div>

		{% include "./partials/footer.njk" %}

		{% if path == "home" %}
			<!-- Netlify Identity Widget -->
			<!-- Needed only if you are using Netlify Identity feature -->
			<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		{% endif %}

	</body>
</html>
